
nav.tabs {
  margin: 20px 0 60px 0;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;

    li {
      margin-right: 15px;

      a {
        border: 1px solid $bg-dark;
        padding: 5px 10px;
        border-radius: 5px;
        background: $bg-light-gray;
        display: inline-block;
        color: $bg-dark;
        text-decoration: none;

        &:hover, &:focus {
          background: $summer-blue;
        }
      }
    }
  }
}
