
.partner-item {
  background: $white;
  align-self: center;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: $b-large) {
    width: 32%;
  }
}

.individual-partners {
  margin-bottom: 50px;

  > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -0.5rem;

    > li {
      margin: 0.5rem;
      width: 100%;

      @media screen and (min-width: $b-large) {
        width: calc(33.333% - 1rem);
      }

      a {
        color: $bg-dark;
        text-decoration: none;
        font-size: 18px;
        line-height: 1em;
      }
    }
  }
}

.l-content--partner {
  background: $bg-light-gray;
  .field--name-field-image,
  .field--name-field-level,
  .quality-badge {
    display: inline-block;
    margin: 0 0 20px;
    vertical-align: top;
  }
  .quality-badge {
    width: 406px;
    height: 230px;
    background-color: $white;
    background-repeat: no-repeat;
    text-indent: -9999px;
    white-space: nowrap;
    background-size: 406px 230px;
  }
  @for $i from 1 to 13 {
    .quality-badge--level-#{$i} {
      background-image: url('../../img/quality/Q#{$i}.png');
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @for $i from 1 to 13 {
      .quality-badge--level-#{$i} {
        background-image: url('../../img/quality/Q#{$i}@2x.png');
      }
    }
  }
  .partner__uri {
    margin-top: 2em;
  }
}
.partner__description {
  margin-bottom: 20px;
}
.partner__services {
  margin-bottom: 20px;
}

.partners-extended {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: -0.5rem;
}
.partner--extended {
  display: flex;
  flex-wrap: wrap;
  .col {
    margin: 0.5rem;
    width: 100%;
    background-color: $white;
    @media screen and (min-width: $b-large) {
      width: calc(33.333% - 1rem);
    }
  }
  .col-second {
    background-color: $white;
    padding: 20px;
  }
}
